@font-face {
  font-family: 'alibaba-inclusive';
  src: url('@/assets/fonts/AlibabaPuHuiTi-3-45-Light.ttf');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'mono-courier-new';
  src: url('@/assets/fonts/cour.ttf');
  font-weight: normal;
  font-style: normal;
}