<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.softwarecooperative.softwareciooperative.dao.mapper.ClassChapterContentMapper">
    <insert id="addContent">
        INSERT INTO b_class_chapter_content (content_id, chapter_id, content_description, resource_link, resource_type)
        VALUES (#{contentId}, #{chapterId}, #{contentDescription}, #{resourceLink}, #{resourceType})
    </insert>
    <update id="modify">
        UPDATE b_class_chapter_content
        <set>
            <if test="resourceLink != null and resourceLink != ''">resource_link = #{resourceLink},</if>
            <if test="resourceType != null and resourceType != ''">resource_type = #{resourceType},</if>
            <if test="contentDescription != null and contentDescription != ''">content_description =
                #{contentDescription},
            </if>
            <if test="chapterId != null and chapterId != ''">chapter_id = #{chapterId}</if>
        </set>
        WHERE content_id = #{contentId}
    </update>

    <delete id="delete">
        delete
        from b_class_chapter_content
        where content_id = #{contentId}
    </delete>
    <select id="chapterHasContent" resultType="java.lang.Boolean">
        SELECT COUNT(*)
        from b_class_chapter_content
        where chapter_id = #{chapterId}
    </select>
    <select id="getContents"
            resultType="com.softwarecooperative.softwareciooperative.pojo.entity.BClassChapterContent">
        SELECT *
        FROM b_class_chapter_content
        WHERE chapter_id = #{chapterId}
    </select>
</mapper>