<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.softwarecooperative.softwareciooperative.dao.mapper.GroupMapper">
    <insert id="insert">
        INSERT INTO b_group
            (group_id, group_name, class_id, group_avatar, group_introduction, group_leader_id, group_leader_name, group_leader_avatar)
        VALUES
            (#{groupId}, #{groupName}, #{classId}, #{groupAvatar}, #{groupIntroduction}, #{groupLeaderId}, #{groupLeaderName}, #{groupLeaderAvatar})
    </insert>
    <select id="selectByCond" resultType="com.softwarecooperative.softwareciooperative.pojo.entity.BGroup">
        SELECT * FROM b_group
            <where>
                <if test="groupId != null"> AND group_id = #{groupId} </if>
                <if test="groupName != null and groupName != ''"> AND group_name LIKE CONCAT('%', #{name}, '%') </if>
                <if test="classId != null"> AND class_id = #{classId} </if>
                <if test="groupLeaderId != null"> AND group_leader_id = #{groupLeaderId} </if>
                <if test="groupLeaderName != null and groupLeaderName != ''"> AND group_leader_name LIKE CONCAT('%', #{name}, '%') </if>
            </where>
    </select>
</mapper>