<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.softwarecooperative.softwareciooperative.dao.mapper.NoticeTeacherMapper">
    <insert id="insert">
        INSERT INTO b_notice_teacher
            (notice_id, notice_content, notice_publisher, notice_publisher_avatar, notice_publish_snapshot)
        VALUES
            (#{noticeId}, #{noticeContent}, #{noticePublisher}, #{noticePublisherAvatar}, #{noticePublishSnapshot})
    </insert>
    <select id="pageSelect" resultType="com.softwarecooperative.softwareciooperative.pojo.vo.NotificationVO">
        SELECT
            bnt.*,
            (CASE WHEN bnrt.notice_status = '1' THEN TRUE ELSE FALSE END) AS hasRead
        FROM b_notice_teacher bnt
        LEFT OUTER JOIN b_notice_receive_teacher bnrt ON bnt.notice_id = bnrt.notice_id
        WHERE bnrt.notice_receiver_id = #{teacherId}
        ORDER BY bnt.notice_publish_snapshot DESC
    </select>
</mapper>